---
import Layout from '../layouts/BasicPage.astro';
---

<Layout
	title="Algemene informatie"
	description="MIJN WERK BESTAAT UIT PROJECTEN die ingaan op de context van een specifieke situatie"
	heroImage="/de_baak_dansvloer.jpg"
>
	<p>
		dit kan een locatie in de openbare ruimte zijn, een tentoonstelling of een gefingeerde ruimte.
		De werken manifesteren zich infiltrerend en dienstbaar, bewegen zich tussen kunst en niet-kunst.
		Ik maak daarbij gebruik van de gangbare waarneming en toepassing van bestaande fenomenen,
		en beoog de beleving ervan te verhevigen en een onverwachte of zelfs bizarre wending te geven.
		Zo wil ik een ontmoeting bewerkstelligen tussen het kunstobject en het publiek, in tegenstelling tot de werking van het ‘zinnebeeldig’ kunstwerk.
		Het werk wordt niet alleen geconsumeerd,
		maar men maakt er als kijker deel van uit; de beschouwer participeert aan de
		completering van het werk.
		Vanuit het gegeven dat het werk een funktionele kant heeft, is het dus zo dat het
		de openbare of publieke ruimte nodig heeft om te kunnen zijn wat het is.
	</p>
</Layout>
